* {
	margin: 0;
	padding: 0;
}

html, body {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

:root {
	/*Fonts*/
	--font-roboto: 'Roboto', sans-serif;
	--font-lato: 'Lato', sans-serif;

	/*Warna*/
	--color-white: #f5f5f5;
	--color-blue: #152238;
	--color-soft-blue: #23395d;

}

body {
	background-image: url('../img/home/home-bg.png');
	font-family: var(--font-roboto);
	font-weight: 400;
	color: var(--color-white);
}

a {
	text-decoration: none;
	color: var(--color-white);
}

/*Navbar*/
.nav-container nav{
	padding: 0 40px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-container img.logo {
	width: 100px;
	position: relative;
	top: -14px;
}

.nav-container .nav-menu {
	width: 85%;
}

.nav-container .nav-menu ul{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

.nav-container .nav-menu ul li {
	font-size: 0.9rem;
}

.nav-container .nav-menu a:hover {
	color: var(--color-soft-blue);
}

input, button {
	border: none;
	box-sizing: border-box;
	padding: 10px;
	position: relative;
	top: -10px;
	display: inline-block;
	width: 250px;
	background-color: rgba(21,34,56,.8);
}

button {
	cursor: pointer;
	width: inherit;
	border-radius: 0 3px 3px 0;
}

input::placeholder, button {
	color: #ddd;
}

.nav-container .nav-menu input.search-box-1 {
	border-radius: 3px 0 0 3px;
}

.nav-container .nav-menu input.search-box-2 {
	margin-right: -3.6px;
	margin-left: -4.5px;
}

/*Header*/
.header-container {
	height: 100vh;
}

.header-container header {
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -100px;
}

.header-container header h1 {
	font-family: var(--font-lato);
	font-size: 5rem;
}

.header-container header h4 {
	font-weight: 300;
	font-size: 1.5rem;
}

.header-container p {
	text-align: center;
	font-size: 1.3rem;
	position: relative;
	bottom: 60px;
	font-weight: 300;
}

.header-container .tombol-rekomendasi {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	background-color: var(--color-white);
	position: absolute;
	bottom: -25px;
	right: calc(50% - 25px);
	color: var(--color-blue);
}

.header-container .tombol-rekomendasi:hover {
	background-color: #aaa;
	color: var(--color-soft-blue);
}

/*Content*/
.content-container {
	position: relative;
	height: 150vh;
	background-color: var(--color-white);
	padding: 60px 40px;
	box-sizing: border-box;
	border-radius: 30px 30px 0 0;
}

/*.content-container::before {
	content: 'V';
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	background-color: var(--color-white);
	position: absolute;
	right: calc(50% - 25px);
	top: -25px;
	z-index: -4;
}*/

.content-container a, .content-container {
	color: var(--color-blue);
}

.content-container h3 {
	text-align: center;
	margin-bottom: 2rem;
	font-size: 1.5rem;
}

.content-container p {
	margin-bottom: 3px;
}

.content-container a.nama-resto:hover {
	color: var(--color-soft-blue);
}

.content-pilihan-kami-wrapper,  .content-random-wrapper {
	display: flex;
	justify-content: space-evenly;

}

.content-pilihan-kami {
	margin-bottom: 5rem;
}

.content-pilihan-kami, .content-random {
	position: relative;
}

.content-container img {
	width: 280px;
	height: 230px;
}

.content-container img:hover {
	opacity: 0.8;
}

.content-container .rating {
	display: flex;
}

.content-container .rating .rating-angka {
	width: 30px;
	height: 30px;
	background-color: lightgreen;
	border-radius: 3px;
	text-align: center;
	line-height: 30px;
	margin-left: 10px;
}

.content-container i {
	font-size: 1.4rem;
	letter-spacing: 5px;
	line-height: 30px;
	cursor: pointer;
}

.content-container a.link-pencarian {
	position: absolute;
	right: 30px;
	bottom: -40px;
}

.content-container a.link-pencarian:hover {
	color: var(--color-soft-blue);
}

/*Footer*/
.footer-container {
	height: 25vh;
	background-color: var(--color-blue);
}

.footer-container footer {
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-container .sosmed i {
	font-size: 2rem;
	cursor: pointer;
	margin-right: 15px;
}

.footer-container .sosmed i:nth-last-child(1) {
	margin-right: 0;
}

.footer-container .sosmed i:hover {
	color: #aaa;
}

.footer-container p {
	margin-top: 20px;
}