* {
	margin: 0;
	padding: 0;
}

html, body {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

:root {
	/*Fonts*/
	--font-roboto: 'Roboto', sans-serif;
	--font-lato: 'Lato', sans-serif;

	/*Warna*/
	--color-white: #f5f5f5;
	--color-blue: #152238;
	--color-soft-blue: #23395d;
	--color-black: #111;

}

body {
	background-image: url('../img/home/home-bg.png');
	font-family: var(--font-roboto);
	font-weight: 400;
	color: var(--color-white);
}

a {
	text-decoration: none;
	color: var(--color-white);
}

/*Navbar*/
.nav-container nav{
	padding: 0 40px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-container img.logo {
	width: 100px;
	position: relative;
	top: -13px;
}

.nav-container .nav-menu {
	width: 40%;
}

.nav-container .nav-menu ul{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

.nav-container .nav-menu ul li {
	font-size: 0.9rem;
}

.nav-container .nav-menu a:hover {
	color: var(--color-soft-blue);
}

.akun {
	cursor: pointer;
}

.nav-container .nav-menu .akun button.drop {
	background-color: transparent;
	padding: 5px 20px;
	border: none;
	overflow: hidden;
	position: relative;
	margin: -5px;
	top: -5px;
	font-size: 0.9rem;
	border-radius: 3px 3px 0 0;
}

.drop i {
	position: relative;
}

.drop .bxs-user-circle {
	font-size: 1.3rem;
	top: 3px;
}

.drop .bxs-chevron-down {
	top: 1px;
}

.drop-content {
	background-color: var(--color-white);
	padding: 10px 15.5px;
	display: flex;
	flex-direction: column;
	position: absolute;
	/* top: 61px; */
	top: 30px;
	right: 35px;
	border-radius: 0 0 3px 3px;
	transform: scaleY(0);
}

.drop-content form {
	margin-top: -30px;
}

.drop-content button {
	cursor: pointer;
	color: var(--color-black);
	background-color: transparent;
	padding: 0 22px;
	border: none;
	overflow: hidden;
	font-size: 0.7rem;
}

.drop-content i {
	font-size: 0.8rem;
	position: relative;
	top: 1px;
}

button.drop.active {
	animation: drop-button .1s ease-out forwards;
}

.drop-content.active {
	animation: drop-content .1s ease-out forwards;
}

/*Header*/
.header-container {
	height: 100vh;
}

.header-container header {
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -100px;
}

.header-container header h1 {
	font-family: var(--font-lato);
	font-size: 3rem;
}

.header-container header h4 {
	font-weight: 300;
	font-size: 1.2rem;
}

.header-container p {
	text-align: center;
	font-size: 1.3rem;
	position: relative;
	bottom: 60px;
	font-weight: 300;
}

input, button {
	border: none;
	box-sizing: border-box;
	padding: 15px 0;
	display: inline-block;
	width: 300px;
	background-color: rgba(21,34,56,.8);
	margin-top: 30px;
	color: var(--color-white);
}

button {
	padding: 15px;
}

input.ket {
	padding: 15px 10px;
	width: 70px;
	text-align: center;
	margin-right: -4px;
}

input.ket-1 {
	border-radius: 3px 0 0 3px;
}

input.ket-2 {
	margin-right: inherit;
	margin-left: -4px;
}

input:focus {
	outline: none;
}

button {
	cursor: pointer;
	width: inherit;
	border-radius: 0 3px 3px 0;
}

input::placeholder, button {
	color: var(--color-white);
}

input.search-box-1 {
	border-right: 1px solid var(--color-white);
}

input.search-box-2 {
	margin-right: -3.9px;
	margin-left: -4.7px;
}

.header-container .tombol-rekomendasi i {
	font-size: 2rem;
}

.header-container .tombol-rekomendasi {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	background-color: var(--color-white);
	position: absolute;
	bottom: -25px;
	right: calc(50% - 25px);
	color: var(--color-blue);
}

.header-container .tombol-rekomendasi:hover {
	background-color: #aaa;
	color: var(--color-soft-blue);
}

/*Content*/
.content-container {
	position: relative;
	height: 150vh;
	background-color: var(--color-white);
	padding: 60px 40px;
	box-sizing: border-box;
	border-radius: 30px 30px 0 0;
}

/*.content-container::before {
	content: 'V';
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	background-color: var(--color-white);
	position: absolute;
	right: calc(50% - 25px);
	top: -25px;
	z-index: -4;
}*/

.content-container a, .content-container {
	color: var(--color-black);
}

.content-container h3 {
	text-align: center;
	margin-bottom: 2rem;
	font-size: 1.5rem;
}

.content-container p {
	margin-bottom: 3px;
}

.content-container a.nama-resto:hover {
	color: var(--color-soft-blue);
}

.content-pilihan-kami-wrapper,  .content-random-wrapper {
	display: flex;
	justify-content: space-evenly;

}

.content-pilihan-kami {
	margin-bottom: 5rem;
}

.content-pilihan-kami, .content-random {
	position: relative;
}

.content-container img {
	width: 280px;
	height: 230px;
}

.content-container img:hover {
	opacity: 0.8;
}

.content-container .rating {
	display: flex;
}

.content-container .rating .rating-angka {
	width: 30px;
	height: 30px;
	background-color: lightgreen;
	border-radius: 3px;
	text-align: center;
	line-height: 30px;
	margin-left: 10px;
}

.content-container i {
	font-size: 1.4rem;
	letter-spacing: 5px;
	line-height: 30px;
	cursor: pointer;
}

.content-container a.link-pencarian {
	position: absolute;
	right: 30px;
	bottom: -40px;
}

.content-container a.link-pencarian:hover {
	color: var(--color-soft-blue);
}

/*Footer*/
.footer-container {
	height: 25vh;
	background-color: var(--color-blue);
}

.footer-container footer {
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-container .sosmed i {
	font-size: 2rem;
	cursor: pointer;
	margin-right: 15px;
}

.footer-container .sosmed i:nth-last-child(1) {
	margin-right: 0;
}

.footer-container .sosmed i:hover {
	color: #aaa;
}

.footer-container p {
	margin-top: 20px;
}

/* Animations */
@keyframes drop-button {
	to {
		background-color: var(--color-white);
		color: var(--color-black);
	}
}

@keyframes drop-content {
	to {
		top: 61px;
		transform: scaleY(1);
	}
}