* {
    margin: 0;
    padding: 0;
}

html, body {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

:root {
	/*Fonts*/
	--font-roboto: 'Roboto', sans-serif;
	--font-lato: 'Lato', sans-serif;

	/*Warna*/
	--color-white: #f5f5f5;
	--color-blue: #070B15;
	--color-soft-blue: #23395d;
	--color-black: #111;

}

body {
	background-color: var(--color-blue);
	font-family: var(--font-roboto);
	font-weight: 400;
	color: var(--color-white);
}

a {
	text-decoration: none;
	color: var(--color-white);
}

/*Navbar*/
.nav-container nav{
	padding: 0 40px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
    position: relative;
    z-index: 1;
}

.nav-container img.logo {
	width: 100px;
	position: relative;
	top: -5px;
}

.nav-container .nav-menu ul{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

.nav-container .nav-menu ul li {
	font-size: 0.9rem;
}

.nav-container .nav-menu a:hover {
	color: var(--color-soft-blue);
}

.akun {
	cursor: pointer;
}

.nav-container .nav-menu .akun button.drop {
	background-color: transparent;
	padding: 5px 20px;
	border: none;
	overflow: hidden;
	position: relative;
	margin: -5px;
	top: -5px;
	font-size: 0.9rem;
	border-radius: 3px 3px 0 0;
    color: var(--color-white);
    cursor: pointer;
}

.drop i {
	position: relative;
}

.drop .bxs-user-circle {
	font-size: 1.3rem;
	top: 3px;
}

.drop .bxs-chevron-down {
	top: 1px;
}

.drop-content {
	background-color: var(--color-white);
	padding: 10px 7.5px;
	display: flex;
	flex-direction: column;
	position: absolute;
    top: 30px;
	right: 35px;
	border-radius: 0 0 3px 3px;
	transform: scaleY(0);
	height: 30px;
}

.drop-content button {
	cursor: pointer;
	color: var(--color-black);
	background-color: transparent;
	padding: 10px 39px;
	border: none;
	overflow: hidden;
	font-size: 0.7rem;
}

.drop-content button[type="submit"] {
	position: relative;
	bottom: 39px;
	right: -4px;
}

.drop-content i {
	font-size: 0.8rem;
	position: relative;
	top: 1px;
}

button.drop.active {
	animation: drop-button .1s ease-out forwards;
}

.drop-content.active {
	animation: drop-content .1s ease-out forwards;
}

h1.logo-tulis {
	position: absolute;
	left: 140px;
	font-size: 2rem;
	top: 29px;
	font-style: italic;
}

/* Content */

.content-container {
	width: 50%;
	margin: 0 auto;
}

.content-container h1 {
	margin-bottom: 20px;
	text-align: center;
}

.form {
	display: flex;
	flex-direction: column;
}

input[type="text"], select, textarea {
	padding: 3px;
	margin-bottom: 10px;
}

textarea {
	font-family: 'Roboto', sans-serif;
}

label {
	margin-bottom: 3px;
}

input[type="submit"] {
	background-color: var(--color-soft-blue);
	border: none;
	outline: none;
	color: var(--color-white);
	width: 70px;
	padding: 10px;
	border-radius: 3px;
	margin-top: 10px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #203354;
	color: lightgray;
}

/*Footer*/
.footer-container {
	height: 25vh;
}

.footer-container footer {
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-container .sosmed i {
	font-size: 2rem;
	cursor: pointer;
	margin-right: 15px;
}

.footer-container .sosmed i:nth-last-child(1) {
	margin-right: 0;
}

.footer-container .sosmed i:hover {
	color: #aaa;
}

.footer-container p {
	margin-top: 20px;
}


/* Animations */
@keyframes drop-button {
	to {
		background-color: var(--color-white);
		color: var(--color-black);
	}
}

@keyframes drop-content {
	to {
		top: 61px;
		transform: scaleY(1);
	}
}